{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
    {% include 'layouts/head.html' %}
<body>

    <!-- Start Header Area -->
	{% include 'layouts/header.html' %}
	<!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Billing Details</h3>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="first" name="firstname" value="{{useremail.firstname}}">
                                {% if not useremail.firstname %}<span class="placeholder" data-placeholder="First name"></span>{% endif %}
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="last" name="lastname" value="{{useremail.lastname}}">
                                {% if not useremail.lastname %}<span class="placeholder" data-placeholder="Last name"></span>{% endif %}
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="company" name="company" placeholder="Company name">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="number" name="number" value="{{useremail.number}}">
                                {% if not useremail.number %} <span class="placeholder" data-placeholder="Phone number"></span> {% endif %}
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="email" name="email" value="{{useremail.email}}" {% if useremail.email %}readonly{% endif %}>
                                {% if not useremail.email %}<span class="placeholder" data-placeholder="Email Address"></span> {% endif %}
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <select class="country_select" name="country" id="country">
                                    <option value="India">India</option>
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="Banglades">Banglades</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="add1" name="add1">
                                <span class="placeholder" data-placeholder="Address line 01"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="add2" name="add2">
                                <span class="placeholder" data-placeholder="Address line 02"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="city" name="city">
                                <span class="placeholder" data-placeholder="Town/City"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="state" name="state">
                                <span class="placeholder" data-placeholder="State"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP">
                            </div>
                            
                            <div class="col-md-12 form-group">
                                {% for j in address %}
                                <p><input type="radio" name="addrss" id="{{j.id}}"> {{j.address1}} {{j.address2}} {{j.city}} {{j.state}} {{j.country}} - {{j.zipcode}}</p>
                                {% endfor %}
                            </div>
                            
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <h3>Shipping Details</h3>
                                    <input type="checkbox" id="f-option3" name="selector">
                                    <label for="f-option3">Ship to a different address?</label>
                                </div>
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Order Notes"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li><a href="#">Product <span>Total</span></a></li>
                                {% for i in carts %}
                                <li><a href="#">{{i.product_id.productname}}<span class="middle">x {{i.qty}}</span> <span class="last">${{i.price}}</span></a></li>
                                {% endfor %}
                                
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span>${{Subtotal}}</span></a></li>
                                <li><a href="#">GST <span>18% : ${{GST}}</span></a></li>
                                <li><a href="#">Total <span>${{withGST}}</span></a></li>
                            </ul>
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="selector">
                                    <label for="f-option5">Check payments</label>
                                    <div class="check"></div>
                                </div>
                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County,
                                    Store Postcode.</p>
                            </div>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="selector">
                                    <label for="f-option6">Paypal </label>
                                    <img src="img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                                    account.</p>
                            </div>
                            <div class="creat_account" id="errorthroe">
                            </div>

                            <a class="primary-btn ordercheckout" href="javascript:void(0);">Proceed to Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->

    <!-- start footer Area -->
    {% include 'layouts/footer.html' %}
    <!-- End footer Area -->
</body>
<script>
    $('.ordercheckout').on('click',function(){
        var address_id = $('input[name="addrss"]:checked').attr('id');
        var first = $("#first").val();
        var last = $("#last").val();
        var company = $("#company").val();
        var number = $("#number").val();
        var email = $("#email").val();
        var country = $("#country").val();
        var add1 = $("#add1").val();
        var add2 = $("#add2").val();
        var city = $("#city").val();
        var state = $("#state").val();
        var zip = $("#zip").val();
        var price = "{{withGST}}";
        mydata = {price:price,address_id:address_id,'csrfmiddlewaretoken': '{{ csrf_token }}',first:first,last:last,company:company,number:number,email:email,country:country,add1:add1,add2:add2,city:city,state:state,zip:zip}
        $.ajax({
            url : "{% url 'CheckOut' %}",
            method : "POST",
            data : mydata,
            success : function(data){
                if (data.status == '2'){
                    $("#errorthroe").html("<p class='genric-btn danger'>Please Select Adress</p>");
                }
                if (data.status == '1'){
                    var url = "{% url 'orderpage' %}";
                    window.location.href(url);

                }
                console.log(data)
            }
        }); 
    });
</script>
</html>